.main__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.map_box {
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.landmark_info {
  width: 100%;
}

.nearby_home {
  width: 100%;
}

.landmark_cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.pagination_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media (max-width: 960px) {
  .main__box,
  .map_box {
    padding: 0 30px;
  }

  .landmark_cards_container {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .main__box,
  .map_box {
    padding: 0 20px;
  }
}
